langgraph~=0.6.3
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core~=0.3.75
langchain-openai~=0.3.28
notebook
langgraph-cli[inmem]
pandas~=2.3.1
numpy~=2.3.2
python-dotenv~=1.1.1
ucimlrepo~=0.0.7
scikit-learn~=1.6.1